/* specification */

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.woff') format('woff'),
    url('../assets/fonts/Helvetica.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica-Bold.woff') format('woff'),
    url('../assets/fonts/Helvetica-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../assets/fonts/Century Gothic.woff2') format('woff2');
    font-weight: normal;
}

body {
    font-size: 25px;
    background-color: #000000;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
}

body.lock {
    overflow: hidden;
}

button,
button:hover,
button:focus,
input {
    font-family: inherit;
    outline: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #ffffff;
    line-height: 1.2em;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    padding: 1.5rem 3.375rem;
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.07em;
    background-color: rgba(255, 255, 255, 0);  
    transition: all 0.5s ease;
    border-radius: 0;
}

/*  push-block  */

.push-1 {
    height: 0.625rem;
}

.push-2 {
    height: 2rem;
}

.push-3 {
    height: 3rem;
}

.push-4 {
    height: 4rem;
}

.push-8 {
    height: 8rem;
}

.push-19 {
    height: 19rem;
}

.push-26 {
    height: 26rem;
}

/* *********************** */

/*  footer  */

.footer__wrapper::before {
    content: "";
    display: block;
    border-top: 1px solid #FFFFFF;
    width: 100%;
    margin-bottom: 3.125rem;
}

.footer__wrapper::after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 3.125rem;
}

.footer__requesite {
    line-height: 1.4em;
}

.footer__text {
    line-height: 1.4em;
}

.footer__link {
    font-size: 1.3125rem;
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0);
    transition: all 0.5s ease;
}

.footer__link:hover {
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid rgb(255, 255, 255, 1);
}

.footer__info {
    font-size: 1.25rem;
    max-width: 35rem;
}

/* *********************** */

/*  popup-subscription  */

.popup-subscription {
    background-color: rgba(16, 16, 16, 0.9);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease;
}

.popup-subscription.open {
    opacity: 1;
    visibility: visible;
}

.popup-subscription.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__close {
    right: 45px;
    top: 30px;
    line-height: 0;
}

.popup__content {
    box-shadow: 0px 15px 50px rgba(232, 232, 232, 0.25);
    padding: 10rem 5.5rem; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    opacity: 0;
}

.popup__title {
    font-family: 'Century Gothic';
    font-size: 3.75rem;
}

.popup__text {
    font-family: 'Helvetica';
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.4em; 
    text-align: center;
    width: 630px;
    text-transform: none;
}

.popup__text::before {
    content: "";
    display: block;
    border-top: 8px solid #000000;
    margin-bottom: 2rem;
}

.btn__popup-content {
    border: 2px solid #000000;
}

.btn__popup-content:hover {
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    font-family: 'Century Gothic';
}

.btn__popup-content:active {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #000000;
    font-family: 'Century Gothic';
}

/* *********************** */

/*  header  */

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/header-bg.png) no-repeat center center / cover;
}

.menu__body {
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}

.menu__body.active {
    left: 0;
}

.menu__list {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.menu__link {
    font-family: 'Helvetica';
    font-size: 1.875rem;
    line-height: 1.4em;
    transition: all 0.5s ease;
}

.menu__link:hover {
    color: #a5d702;
}

.menu__link_underlined {
    text-decoration-line: underline;
}

.menu__link_underlined:hover {
    text-decoration: none;
}

.menu__icon {
    width: 2.5625rem;
    height: 1.8125rem; 
    cursor: pointer;
    z-index: 5;
}

.menu__icon span {
    top: calc(50% - 3px);
    left: 0;
    height: 5px;
    transition: all 0.3s;
    border-radius: 5px;
  }

.menu__icon span:first-child {
    top: 0;
}

.menu__icon span:last-child {
    top: auto;
    bottom: 0;
}

.menu__icon.active span {
    transform: scale(0);
}

.menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 3px);
}

.menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 3px);
}

.offer__title {
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 6.25rem;
}

.offer__link {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 2.4375rem;
    line-height: 1.2em;
    transition: all 0.5s ease;
    border-bottom: 3px solid rgb(255, 255, 255, 0);
    padding-bottom: 0.5rem;
}

.offer__link:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
}

/*  gallery  */

.section-title {
    font-family: 'Century Gothic';
    font-size: 4.375rem;
    line-height: 1.2em;
}

.hover-image-scale {
    overflow: hidden;
}
.hover-image-scale img {
    transition: all 0.8s ease;
}
.hover-image-scale img:hover {
   transform: scale(1.1);
}

.gallery__img {
    object-fit: contain;
}

.btn__gallery {
    border: 2px solid #FFFFFF; 
    width: 17.625rem; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.btn__gallery:hover {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #000000;
    font-family: 'Century Gothic';
}

.btn__gallery:active {
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    font-family: 'Century Gothic';
}

/*  Responsive main */

@media (max-width: 1024px) {
	.footer__list {
        margin-top: 30px;
    }
    .footer__text {
        text-align: right;
    }
    .gallery__img {
        margin-bottom: 25px;
    }
    .btn__gallery {
        margin-top: 20px;
    }
} 

@media (max-width: 992px) {
	.offer__link {
        font-size: 32px;
    }
} 

@media (max-width: 768px) {
	.offer__title {
        font-size: 60px;
        margin-bottom: 0px;
    }
    .offer__link {
        font-size: 25px;
    }
    .offer {
        padding-bottom: 155px;
    }
    .offer__items {
        margin-top: 10px;
    }
    .gallery {
        margin-top: 80px;
    }
    .section-title {
        font-size: 55px;
        margin-bottom: 40px;
    }
}

/*  about us  */

.header__about {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(85.29% 85.29% at 50.04% 50%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%), url(../assets/images/about-bg.png) no-repeat top center / cover;
}

.about__text {
    text-transform: none;
    letter-spacing: 0.05em;
    line-height: 1.4em;
}

.about__text_bold {
    font-weight: bold;
}

.about__text::before {
    content: "";
    display: block;
    border-top: 0.5rem solid #ffffff;
    width: 100%;
    margin: 3.625rem 0px;
}

/*  Responsive about */

@media (max-width: 992px) {
	.offer__title {
        font-size: 5rem;
    }
    .about__text {
        font-size: 1.375rem;
    }
    .about__text::before {
        border-top: 6px solid #ffffff;
        margin: 1.5625rem 0;
    }
}

@media (max-width: 768px) {
    .offer__title {
        font-size: 4rem;
    }
    .about__text {
        font-size: 1.1875rem;
    }
    .about__text::before {
        border-top: 0.25rem solid #ffffff;
    }
}

@media (max-width: 575px) {
    .offer__title {
        font-size: 3rem;
    }
    .about__text {
        font-size: 1rem;
    }
    .about__text::before {
        border-top: 4px solid #ffffff;
        margin: 1rem 0;
    }
}

/*  account  */

.bread-crumbs__text {
    font-family: 'Helvetica';
    font-weight: normal;  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-size: 0.75rem;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    text-transform: none;
    margin-left: 6px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.bread-crumbs__text::before {
    content: "";
    display: block; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    border: 1px solid #FFFFFF;
    width: 15px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    margin-right: 6px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.secondary-title {
    font-size: 2.5rem;
    font-family: 'Helvetica';
    font-weight: normal; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    line-height: 135%;
    letter-spacing: 0.02em;
    margin: 50px 0px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.wrapper {
    padding: 30px 0px 0px 30px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    display: block; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(24px);
    height: 190px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.wrapper__text {
    font-family: 'Helvetica';
    font-weight: normal; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-size: 1.125rem;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    text-transform: none;
    margin-left: 16px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.wrapper__info {
    font-family: 'Helvetica';
    font-weight: normal; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-size: 0.875;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    text-transform: none; 
}

.wrapper__string + wrapper__string {
    padding-top: 8px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.wrapper__info_dim {
    margin-right: 5px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #969696;
}

.wrapper__content {
    margin-top: 30px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}