/* specification */

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.woff') format('woff'),
    url('../assets/fonts/Helvetica.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica-Bold.woff') format('woff'),
    url('../assets/fonts/Helvetica-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../assets/fonts/Century Gothic.woff2') format('woff2');
    font-weight: normal;
}

body {
    font-size: 25px;
    background-color: #000000;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1.35em;
}

body.lock {
    overflow: hidden;
}

button,
button:hover,
button:focus,
input {
    font-family: inherit;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #ffffff;
    line-height: 1.2em;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    padding: 1.5rem 3.375rem;
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.07em;
    background-color: rgba(255, 255, 255, 0);  
    transition: all 0.5s ease;
    border-radius: 0;
}

/*  burger menu  */

.menu__icon {
    width: 2.5625rem;
    height: 1.8125rem; 
    cursor: pointer;
    z-index: 5;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.menu__icon:hover {
    opacity: 1;
}

.menu__icon span {
    top: calc(50% - 3px);
    left: 0;
    height: 5px;
    transition: all 0.3s;
    border-radius: 5px;
  }

.menu__icon span:first-child {
    top: 0;
}

.menu__icon span:last-child {
    top: auto;
    bottom: 0;
}

.menu__icon.active span {
    transform: scale(0);
}

.menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 3px);
}

.menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 3px);
}

/*  Responsive burger menu  */

@media (max-width: 500px) {
    .menu__icon {
        width: 2rem;
        height: 1.3125rem;
    }
    .menu__icon span {
        top: calc(50% - 2px);
        height: 3px;
    }
    .menu__icon.active span:first-child {
        top: calc(50% - 2px);
    }
    .menu__icon.active span:last-child {
        bottom: calc(50% - 2px);
    }
}

/* *********************** */

/*  push-block  */

.push-03 {
    height: 0.3em;
}

.push-05 {
    height: 0.5rem;
}

.push-0-625 {
    height: 0.625rem;
}

.push-1 {
    height: 1rem;
}

.push-1-6 {
    height: 1.6rem;
}

.push-1-25 {
    height: 1.25rem;
}

.push-1a8 {
    height: 1.8rem;
}

.push-1a9 {
    height: 1.85rem;
}

.push-2 {
    height: 2rem;
}

.push-2-3 {
    height: 2.3rem;
}

.push-2-5 {
    height: 2.5rem;
}

.push-2-85 {
    height: 2.85rem;
}

.push-3 {
    height: 3rem;
}

.push-4 {
    height: 4rem;
}

.push-7 {
    height: 7rem;
}

.push-8 {
    height: 8rem;
}

.push-10 {
    height: 10rem;
}

.push-19 {
    height: 19rem;
}

.push-26 {
    height: 26rem;
}

/* *********************** */

/*  footer  */

.footer__wrapper::before {
    content: "";
    display: block;
    border-top: 1px solid #FFFFFF;
    width: 100%;
    margin-bottom: 3.125rem;
}

.footer__wrapper::after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 3.125rem;
}

.footer__requesite {
    line-height: 1.4em;
    font-size: 1.25rem;
}

.footer__text {
    line-height: 1.4em;
    font-size: 1.25rem;
    text-align: center;
}

.footer__link {
    font-size: 1.25rem;
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0);
    transition: all 0.5s ease;
}

.footer__link:hover {
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid rgb(255, 255, 255, 1);
}

.footer__info {
    font-size: 1.25rem;
    max-width: 35rem;
}

.footer__list {
    padding-left: 7.8125rem;
}

/*  Responsive footer  */

@media (max-width: 1399px) {
    .footer__list {
        padding-left: 3.125rem;
    }
    .push-3 {
        height: 2rem;
    }
}

@media (max-width: 1199px) {
    .footer__list {
        padding-left: 0px;
        line-height: 1em;
    }
    .footer__link {
        font-size: 1.1rem;
    }
    .footer__info {
        font-size: 1.15rem;
    }
    .footer__text {
        font-size: 1.2rem;
    }
    .footer__requesite {
        font-size: 1.2rem;
    }
    .push-3 {
        height: 1rem;
    }
}

@media (max-width: 991px) {
    .footer__list {
        margin-top: 1rem;
    }
    .footer__info {
        font-size: 1.1rem;
    }
    .footer__wrapper::before {
        margin-bottom: 2rem;
    }
    .footer__wrapper::after {
        margin-top: 2rem;
    }
    .footer__text {
        text-align: right;
    }
}

@media (max-width: 767px) {
    .footer__text {
        text-align: left;
        margin: 0.6rem 0;
    }
}

@media (max-width: 575px) {
    .footer__info {
        font-size: 0.9rem;
    }
    .push-1 {
        height: 0.9rem;
    }
}

@media (max-width: 420px) {
    .footer__link {
        font-size: 1.08rem;
    }
    .footer__requesite {
        font-size: 1.08rem;
    }
    .footer__text {
        font-size: 1.08rem;
    }
    .footer__text {
        text-align: left;
        margin: 0.4rem 0;
    }
    .push-3 {
        height: 1rem;
    }
}

/* *********************** */

/*  popup  */

.popup {
    background-color: rgba(9, 9, 9, 0.9);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__close {
    right: 45px;
    top: 30px;
    line-height: 0;
}

.popup__content {
    max-width: 53rem;
    box-shadow: 0px 15px 50px rgba(232, 232, 232, 0.25);
    padding: 0rem 5.5rem;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    opacity: 0;
}

.popup__title {
    font-family: 'Century Gothic';
    font-size: 3.75rem;
    margin-bottom: 3rem;
}

.popup__text {
    font-family: 'Helvetica';
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.4em; 
    text-align: center;
    width: 630px;
    text-transform: none;
    margin-bottom: 3rem;
}

.popup__text::before {
    content: "";
    display: block;
    border-top: 8px solid #000000;
    margin-bottom: 2rem;
}

.btn__popup-content {
    border: 2px solid #000000;
}

.btn__arrange {
    width: 17rem;
}

.btn__popup-content:hover {
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #ffffff!important;
    font-family: 'Century Gothic';
}

.btn__popup-content:active {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #000000;
    font-family: 'Century Gothic';
}

@media (max-width: 768px) {
    .popup__text {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    .popup__title {
        font-size: 3.4rem;
        margin-bottom: 2rem;
    }
    .popup__text::before {
        border-top: 5px solid #000000;
        margin-bottom: 1.3rem;  
    }
    .popup__content {
        padding: 0rem 4rem;
    }
    .push-10 {
        height: 8rem;
    }
}

@media (max-width: 576px) {
    .popup__text {
        font-size: 0.8em;
        margin-bottom: 2rem;
    }
    .popup__title {
        font-size: 3rem;
    }
    .popup__text::before {
        border-top: 5px solid #000000;
        margin-bottom: 1.3rem;  
    }
    .push-10 {
        height: 7rem;
    }
    .popup__content {
        padding: 0rem 2.5rem;
    }
}

@media (max-width: 460px) {
    .popup__text {
        font-size: 0.7em;
        margin-bottom: 2rem;
    }
    .popup__title {
        font-size: 2.7rem;
        margin-bottom: 1.5rem;
    }
    .popup__text::before {
        border-top: 5px solid #000000;
        margin-bottom: 1.3rem;  
    }
    .push-10 {
        height: 5rem;
    }
}

/* *********************** */

/*  header  */

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/header-bg.png) no-repeat center center / cover;
}

.menu__body {
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
    z-index: 4;
}

.menu__body.active {
    left: 0;
}

.menu__list {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.menu__link {
    font-family: 'Helvetica';
    font-size: 1.875rem;
    line-height: 1.4em;
    transition: all 0.5s ease;
}

.menu__link:hover {
    color: #a5d702;
}

.menu__link_underlined {
    text-decoration-line: underline;
}

.menu__link_underlined:hover {
    text-decoration: none;
}

.offer__title {
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 6.25rem;
}

.offer__link {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 2.4375rem;
    line-height: 1.2em;
    transition: all 0.5s ease;
    border-bottom: 3px solid rgb(255, 255, 255, 0);
    padding-bottom: 0.5rem;
}

.offer__link:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
}

.offer__items {
    margin-top: 3rem;
}

/*  gallery  */

.section-title {
    font-family: 'Century Gothic';
    font-size: 4.375rem;
    line-height: 1.2em;
}

.hover-image-scale img {
    transition: all 0.8s ease;
}
.hover-image-scale img:hover {
   transform: scale(1.1);
}

.gallery__img {
    object-fit: contain;
}

.hover-image-scale:hover::after {
    content: "";
    background: url(../assets/images/heart.svg);
    display: block;
    width: 1.55rem;
    height: 1.25rem;
    position: absolute;
    bottom: 5%;
    right: 13%;
}

.btn__section {
    border: 2px solid #FFFFFF; 
    width: 17.625rem;
}

.btn__section:hover {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #000000!important;
    font-family: 'Century Gothic';
}

.btn__section:active {
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    font-family: 'Century Gothic';
}

/*  Responsive main */

@media (max-width: 1399px) {
    .offer__link {
        font-size: 2.25rem;
    }
}

@media (max-width: 1199px) {
    .push-19 {
        height: 17rem;
    }
    .push-26 {
        height: 24rem;
    }
    .hover-image-scale:hover::after {
        bottom: 6%;
        right: 15%;
    }
}

@media (max-width: 991px) {
	.offer__title {
        font-size: 6.2rem;
    }
    .push-19 {
        height: 13rem;
    }
    .push-26 {
        height: 20rem;
    }
    .push-4 {
        height: 2rem;
    }
    .section-title {
        font-size: 3.8rem;
    }
    .gallery-blok:nth-of-type(2n+1) {
        margin-bottom: 2rem;
    }
    .hover-image-scale:hover::after {
        bottom: 11%;
        right: 15%;
    }
} 

@media (max-width: 767px) {
	.offer__title {
        font-size: 5rem;
    }
    .offer__link {
        font-size: 1.8rem;
    }
    .offer__items {
        margin-top: 1rem;
    }
    .push-19 {
        height: 7rem;
    }
    .push-26 {
        height: 14rem;
    }
    .hover-image-scale:hover::after {
        bottom: 9%;
        right: 15%;
    }
}

@media (max-width: 525px) {
    .offer__title {
        font-size: 4.5rem;
    }
    .offer__link {
        font-size: 1.5rem;
    }
    .push-19 {
        height: 5.5rem;
    }
    .push-26 {
        height: 12.5rem;
    } 
    .menu__link {
        font-size: 1.6rem;
    }
    
}

@media (max-width: 450px) {
    .offer__title {
        font-size: 4rem;
    }
    .offer__link {
        font-size: 1.3rem;
    }     
    .push-19 {
        height: 3rem;
    }
    .push-26 {
        height: 10rem;
    }
    .offer__items {
        margin-top: 0.5rem;
    }
    .offer__link:hover {
        border-bottom: 2px solid #ffffff;
    }
    .menu__link {
        font-size: 1.45rem;
    }
}

@media (max-width: 405px) {
    .offer__title {
        font-size: 3.5rem;
    }
    .offer__link {
        font-size: 1.2rem;
    }     
    .push-26 {
        height: 8rem;
    }
}

@media (max-width: 370px) {
    .offer__title {
        font-size: 3.1rem;
    }
    .offer__link {
        font-size: 1.15rem;
    }     
}

@media (max-width: 350px) {
    .offer__title {
        font-size: 2.8rem;
    }
    .offer__link {
        font-size: 1.01rem;
    }     
}
/*  about us  */

.header__about {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(85.29% 85.29% at 50.04% 50%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%), url(../assets/images/about-bg.png) no-repeat top center / cover;
}

.about__text {
    text-transform: none;
    letter-spacing: 0.05em;
    line-height: 1.4em;
}

.about__text_bold {
    font-weight: bold;
}

.about__text::before {
    content: "";
    display: block;
    border-top: 0.5rem solid #ffffff;
    width: 100%;
    margin: 3.625rem 0px;
}

/*  Responsive about */

@media (max-width: 992px) {
    .about__text {
        font-size: 1.375rem;
    }
    .about__text::before {
        border-top: 6px solid #ffffff;
        margin: 1.5625rem 0;
    }
}

@media (max-width: 768px) {
    .about__text {
        font-size: 1.1875rem;
    }
    .about__text::before {
        border-top: 0.25rem solid #ffffff;
    }
}

@media (max-width: 575px) {
    .about__text {
        font-size: 1rem;
    }
    .about__text::before {
        border-top: 4px solid #ffffff;
        margin: 1rem 0;
    }
}

/*  account  */

.bread-crumbs__text {
    font-family: 'Helvetica';
    font-size: 0.9rem;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    text-transform: none;
    margin-left: 0.5rem;
}

.bread-crumbs__text_active {
    color: #969696;
}

.bread-crumbs__text::before {
    content: "";
    display: block;
    border: 1px solid #FFFFFF;
    width: 1rem;
    margin-right: 0.5rem;
}

.bread-crumbs__home-mob {
    display: none;
}

.secondary-title {
    font-size: 2.5rem;
    font-family: 'Helvetica';
    line-height: 1.35em;
    letter-spacing: 0.02em;
}

.wrapper {
    padding-left: 2rem;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(24px);
    height: 12.5rem;
    transition: all 0.5s ease;
}

.wrapper:hover {
    transform: scale(1.03);
}

.wrapper__text {
    font-family: 'Helvetica';
    font-size: 1.125rem;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    text-transform: none;
    margin-left: 1rem;
}

.wrapper__string {
    flex-wrap: wrap;
}

.wrapper__edit {
    margin-left: 6rem;
}

.wrapper__edit-text {
    font-size: 1rem;
    margin-left: 0.875rem;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.65)
}

.wrapper__info {
    font-family: 'Helvetica';
    font-size: 1rem;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    text-transform: none; 
}

.wrapper__info_dim {
    margin-right: 0.45rem;
    color: #969696;
}

.wrapper_mini {
    height: 6rem;
}

/*  Responive account  */
@media (max-width: 1200px) {
	.wrapper__edit {
        margin-left: 2rem;
    }
    .wrapper__edit-text {
        margin-left: 0.3rem;
    }
}

@media (max-width: 992px) {
    .push-1a9 {
        height: 0;
    }
    .secondary-title {
        font-size: 2rem;
    }
	.wrapper {
        margin-bottom: 2rem;
    }
    .wrapper_mini {
        margin-bottom: 0;
    }
    .wrapper__edit {
        margin-left: 6rem;
    }
    .push-7 {
        height: 3rem;
    }
    .push-8 {
        height: 4rem;
    }
    .push-3 {
        height: 2rem;
    }
}

@media (max-width: 576px) {
    .secondary-title {
        font-size: 1.7rem;
    }
	.wrapper__edit {
        display: none;
    }
}

@media (max-width: 450px) {
    .wrapper__text {
        font-size: 1.05rem;
        margin-left: 0.75rem;
    }
    .bread-crumbs__home-desk {
        display: none!important;
    }
    .bread-crumbs__text {
        display: none!important;
    }
    .bread-crumbs__home-mob {
        display: block;
    }
    .wrapper__img {
        width: 2.9rem;
        height: 2.9rem;
    }
}

/*  Popup login  */

.form__title {
    font-family: 'Helvetica';
    font-size: 1.375rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}

.form__title:after {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1.375rem;
}

.form__title_active:after {
    border-bottom: 1px solid #000000;
}

/* .form__btn_active::before {
    content: "";
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
    width: 2rem;
} */

.form__content {
    padding: 0rem 4.625rem;
}

.form__title-selection {
    font-style: normal;
    font-family: 'Helvetica';
    font-size: 0.9375rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000000;
    line-height: 1.3em;
}

.popup__fields {
    padding: 0rem 3.125rem;
}

.form__title-selection_active {
    background-color: #000000;
    color: #FFFFFF;
}

.field__text {
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
    text-transform: none;
    line-height: 1.35em;
}

.input {
    background: #F3F3F3;
    height: 4.0625rem;
}

/* .input__pass::after {
    content: "";
    display: block;
    background: url(../assets/images/eyes.svg);
    width: 22px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
} */

.input__cards {
    width: 45%;
}

.field__text-card {
    width: 80%;
}

::-webkit-input-placeholder {font-size: 1.25rem;}
::-moz-placeholder          {font-size: 1.25rem;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 1.25rem;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 1.25rem;}

.form__main-btn {
    font-family: 'Helvetica';
    font-size: 1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 1.45em;
    height: 3.5rem;
}

.forgotten-pass {
    font-family: 'Helvetica';
    font-size: 1rem;
    letter-spacing: 0.02em;
    text-transform: none;
    line-height: 1.3em;
}

.form__subtitle {
    font-family: 'Helvetica';
    font-size: 1.25rem;
    line-height: 1.35em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.form__title-social {
    border: 1px solid #323232;
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 1.125rem;
    line-height: 1.35em;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
    width: 45%;
}

.form__btn_google::before {
    content: "";
    display: block;
    background: url(../assets/images/google.svg);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
}

.form__btn_apple::before {
    content: "";
    display: block;
    background: url(../assets/images/apple.svg);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
}

/* *********************** */

/*  Popup registration  */

.pass__text {
    font-family: 'Helvetica';
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    line-height: 1.35em;
    text-transform: none;
    letter-spacing: 0.02em;
    margin-top: 0.625rem;
}

.checkbox__text {
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem;
    line-height: 1.35em;
    letter-spacing: 0.02em;
    text-transform: none;
}

.checkbox__text_underlined {
    text-decoration-line: underline;
}

.checkbox__text_clean {
    text-decoration: none;
    color: #a5d702;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-position: center center;
}
 .custom-checkbox:checked+label::before {
    border-color: #ffffff;
    background-color: #000000;
    background-image: url(../assets/images/arrow.svg);
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border: 1px solid #000000;
    filter: drop-shadow(0px 3px 4px rgba(44, 45, 44, 0.35));
}
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.custom-checkbox:focus:not(:checked)+label::before {
    border: 1px solid #000000;
    filter: drop-shadow(0px 3px 4px rgba(44, 45, 44, 0.35));
}


/* *********************** */

/*  Subscription Management  */

.inner__text {
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 1.35em;
    letter-spacing: 0.05em;
    text-transform: none;
}

.btn__subscr {
    width: 26.625rem;
}

/*  Subscription Management finished */

.subscr__text {
    font-family: 'Helvetica';
    font-size: 1.5625rem;
    letter-spacing: 0.05em;
    text-transform: none;
    line-height: 1.35em;
}

.subscr__info {
    font-family: 'Helvetica';
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: none;
    line-height: 1.35em;
}

.wrapper__subscr {
    height: 9.2rem;
}

.cards__number {
    font-family: 'Helvetica';
    font-size: 1rem;
    line-height: 1.35em;
    letter-spacing: 0.1em;
}

.popup__authentication {
    background-color: rgb(255, 255, 255, 0);
}

.form__heading {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}