/* specification */
@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.woff') format('woff'),
    url('../assets/fonts/Helvetica.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica-Bold.woff') format('woff'),
    url('../assets/fonts/Helvetica-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../assets/fonts/Century Gothic.woff2') format('woff2');
    font-weight: normal;
}

body {
    font-size: 25px;
    background-color: #000000;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
}

body.lock {
    overflow: hidden;
}

button,
button:hover,
button:focus,
input {
    font-family: inherit;
    outline: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #ffffff;
    line-height: 1.2em;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/*  popup-subscription  */

.popup-subscription {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.9);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease;
}

.popup-subscription.open {
    opacity: 1;
    visibility: visible;
}

.popup-subscription.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__close {
    position: absolute;
    right: 45px;
    top: 30px;
    line-height: 0;
}

.popup__content {
    width: 805px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(232, 232, 232, 0.25);
    padding: 157px 87px;
    position: relative;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    opacity: 0;
}

.popup__title {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-size: 60px;
    color: #000000;
    text-align: center;
    padding-bottom: 40px;
}

.popup__text {
    font-family: 'Helvetica';
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.4em; 
    text-align: center;
    width: 630px;
    text-transform: none;
    margin: 0 auto;
    color: #000000;
}

.popup__text::before {
    content: "";
    display: block;
    border-top: 8px solid #000000;
    width: 100%;
    margin-bottom: 30px;
}

.btn__popup-content {
    border: 2px solid #000000;
    color: #000000;
    margin-top: 45px;
}

.btn__popup-content:hover {
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    font-family: 'Century Gothic';
}

.btn__popup-content:active {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #000000;
    font-family: 'Century Gothic';
}

/*  header  */

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/header-bg.png) no-repeat center center / cover;
}

.menu__body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}

.menu__body.active {
    left: 0;
}

.menu__list {
    padding-top: 80px;
    gap: 30px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.menu__link {
    font-family: 'Helvetica';
    font-size: 30px;
    color: #FFFFFF;
    line-height: 1.4em;
    transition: all 0.5s ease;
}

.menu__link:hover {
    color: #a5d702;
}

.menu__link_underlined {
    text-decoration-line: underline;
}

.menu__link_underlined:hover {
    text-decoration: none;
}

.menu__icon {
    display: block;
    position: relative;
    width: 41px;
    height: 29px;
    cursor: pointer;
    margin-top: 85px;
    margin-bottom: 240px;
    z-index: 5;
}

.menu__icon span {
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: all 0.3s;
    border-radius: 5px;
  }

  .menu__icon span:first-child {
    top: 0;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu__icon.active span {
    transform: scale(0);
  }

  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 3px);
  }

  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 3px);
  }

.offer {
    padding-bottom: 426px;
}

.offer__title {
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 100px;
    color: #FFFFFF;
    text-align: center;
}

.offer__items {
    margin-top: 53px;
}

.offer__link {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2em;
    transition: all 0.5s ease;
    border-bottom: 3px solid rgb(255, 255, 255, 0);
    padding-bottom: 8px;
}

.offer__link:hover {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 8px;
}

/*  gallery  */

.gallery {
    margin-top: 120px;
}

.section-title {
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: normal;
    font-size: 70px;
    line-height: 120%;
    margin-bottom: 72px;
}

.hover-image-scale {
    display: inline-block; 
    overflow: hidden;
}
.hover-image-scale img {
    transition: all 0.8s ease;
    display: block; 
}
.hover-image-scale img:hover {
   transform: scale(1.1);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn {
    margin: 0 auto;
    display: block;
    padding: 24px 54px;
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
}

.btn__gallery {
    margin-top: 45px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    width: 282px;
}

.btn__gallery:hover {
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #000000;
    font-family: 'Century Gothic';
}

.btn__gallery:active {
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    font-family: 'Century Gothic';
}

/*  footer  */

.footer {
    margin-top: 120px;
    margin-bottom: 45px;
}

.footer__wrapper::before {
    content: "";
    display: block;
    border-top: 1px solid #FFFFFF;
    width: 100%;
    margin-bottom: 50px;
}

.footer__wrapper::after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    margin-top: 50px;
}

.footer__requesite {
    font-size: 25px;
    line-height: 1.4em;
}

.footer__text {
    font-size: 25px;
    text-align: center;
}

.footer__link {
    font-size: 21px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255, 0);
    transition: all 0.5s ease;
}

.footer__link:hover {
    font-size: 21px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255, 1);
}

.footer__item + .footer__item {
    margin-top: 10px;
}

.footer__info {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    max-width: 560px;
    margin-top: 30px;
}

/*  Responsive main */

@media (max-width: 1024px) {
	.footer__list {
        margin-top: 30px;
    }
    .footer__text {
        text-align: right;
    }
    .gallery__img {
        margin-bottom: 25px;
    }
    .btn__gallery {
        margin-top: 20px;
    }
} 

@media (max-width: 992px) {
	.offer__link {
        font-size: 32px;
    }
} 

@media (max-width: 768px) {
	.offer__title {
        font-size: 60px;
        margin-bottom: 0px;
    }
    .offer__link {
        font-size: 25px;
    }
    .offer {
        padding-bottom: 155px;
    }
    .offer__items {
        margin-top: 10px;
    }
    .gallery {
        margin-top: 80px;
    }
    .section-title {
        font-size: 55px;
        margin-bottom: 40px;
    }
}






/*  about us  */

.header__about {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(85.29% 85.29% at 50.04% 50%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%), url(../assets/images/about-bg.png) no-repeat center center / cover;
    /* height: 100vh;
    width: 100vw; */
}

.menu__icon {
    margin-top: 45px;
    margin-bottom: 220px;
}

.about__text {
    max-width: 1110px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.05em;
    line-height: 1.4em;
}

.about__text_bold {
    font-weight: bold;
}

.about__text::before {
    content: "";
    display: block;
    border-top: 8px solid #ffffff;
    width: 100%;
    margin: 58px 0px;
}

.offer__about {
    padding-bottom: 170px;
}

/*  Responsive about */

@media (max-width: 992px) {
	.offer__title {
        font-size: 70px;
    }
    .about__text {
        font-size: 20px;
    }
    .about__text::before {
        border-top: 6px solid #ffffff;
        margin: 25px 0px;
    }
    .menu__icon {
        margin-bottom: 80px;
    }
    .offer__about {
        padding-bottom: 10px;
    }
} 

@media (max-width: 768px) {
	.offer__title {
        font-size: 60px;
    }
    .about__text {
        font-size: 17px;
    }
    .about__text::before {
        border-top: 6px solid #ffffff;
        margin: 25px 0px;
    }
}

/* @media (max-width: 575px) {
    .offer__title {
        font-size: 40px;
    }
    .about__text {
        font-size: 15px;
    }
    .about__text::before {
        border-top: 4px solid #ffffff;
        margin: 25px 0px;
    }
    .offer__about {
        padding-bottom: 140px;
    }
} */
